.progress-bar { display: block; width: 33%; height: 4px; position: absolute; left: 50%; top: 20px; transform: translateX(-50%); border-radius: 999px; background: rgba(0,0,0,.1); overflow: hidden }
.progress-bar.hide { display: none }
.update-bar { height: 100%; width: 0%; background: rgba(0,0,0,.4); transition: width .3s }
#ar-button { position: absolute; left: 50%; bottom: 20px; transform: translateX(-50%); padding: 10px 16px; border-radius: 999px; border: 0; background: #111; color: #fff }
#ar-prompt { position: absolute; right: 20px; bottom: 20px; opacity: .7 }
#ar-prompt img { width: 38px; height: 38px }
